{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add Film</h1>
        <input id="add" name="addFilm" type="submit" value="Add" class="btn btn-primary" />
        <form id="sendFilm" role="form" action="/films/create" method="POST" style="display: none;">
            <div class="form-group">
                <label for="titleFilm">Title</label>
                <input type="text" class="form-control" name="titleFilm" id="titleFilm">
            </div>
            <div class="form-group">
                <label for="yearFilm">Year</label>
                <input type="text" class="form-control" name="yearFilm" id="yearFilm">
            </div>
            <button name="sendFilm" type="submit" class="btn btn-primary">Send</button>
        </form>

{% endblock %}