{% extends 'base.html.twig' %}

{% block body %}
    <div class="starter-template">
        <h1>Teinor technical test</h1>
        <p class="lead">This is a technical test for Teinor. Let's go!</p>
    </div>
{% endblock %}